{
    "presets": [
        "es2015",
        "react",
        "react-hmre",
        "flow"
    ],
    "sourceMaps": "both",
    "plugins": [
        "transform-object-rest-spread",
        "transform-decorators-legacy",
        "transform-class-properties",
        "react-docgen"
    ]
}